# Python
__pycache__/
*.py[cod]
*.class

# Virtual Environment
venv/
ENV/
env/
.env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# TensorFlow
*.h5
*.keras
*.dylib
*.so

# Data
content/
